<div class="sub-content-header">
			        <div class="height-10"></div>
			        <div class="line-grey-banner"></div>
			        <div class="title b2"></div>
			    </div>
			    <div class="clear height-20"></div>
			    <div class="data-shortcuthome">
			    	<div class="row">
			    		<div class="col-md-3 col-sm-6">
			    			<div class="item border-right text-center">
			    				<div class="clear height-20"></div>
			    				<div class="text">
			    					INTERNATIONAL <br>
									Standard
									<div class="clear height-10"></div>
									<div class="height-2"></div>
									<img src="{{ app.request.baseurl }}/asset/images/chev-black-home.png" alt="">
			    				</div>
			    				<div class="clear"></div>
			    			</div>
			    		</div>
			    		<div class="col-md-3 col-sm-6">
			    			<div class="item border-right text-center">
			    				<div class="clear height-20"></div>
			    				<div class="text">
			    					HIGH QUALITY <br>
									Raw Materials
									<div class="clear height-10"></div>
									<div class="height-2"></div>
									<img src="{{ app.request.baseurl }}/asset/images/topc-black-home.png" alt="">
			    				</div>
			    				<div class="clear"></div>
			    			</div>
			    		</div>
			    		<div class="col-md-3 col-sm-6">
			    			<div class="item border-right text-center">
			    				<div class="clear height-20"></div>
			    				<div class="text">
			    					Excellent Service <br>
									and product availability
									<div class="clear height-10"></div>
									<div class="height-2"></div>
									<img src="{{ app.request.baseurl }}/asset/images/tools-black-home.png" alt="">
			    				</div>
			    				<div class="clear"></div>
			    			</div>
			    		</div>
			    		<div class="col-md-3 col-sm-6">
			    			<div class="item text-center">
			    				<div class="clear height-20"></div>
			    				<div class="text">
			    					2 YEARS <br>
									Replacement Warranty
									<div class="clear height-10"></div>
									<div class="height-2"></div>
									<img src="{{ app.request.baseurl }}/asset/images/trophy-black-home.png" alt="">
			    				</div>
			    				<div class="clear"></div>
			    			</div>
			    		</div>

			    		<div class="clear"></div>
			    	</div>
			    </div>
			    <div class="clear height-35"></div>