<footer class="inside-section">
	<div class="ins_footer">
		<div class="mw-1389 tengah prelatife">
			<div class="clear height-30"></div>
			<span class="d-inline t-footers">Let&rsquo;s schedule an appointment to discuss your project</span>
			<div class="d-inline lines-Ftoers"><img src="{{ app.request.baseurl }}/asset/images/line-grey-blacks-box-bottomfter.png" class="margin-top-m8" alt=""></div>

			<div class="fright d-inline margin-top-m5">
				<a href="{{ url('contactus') }}"><img src="{{ app.request.baseurl }}/asset/images/back-btns-contact-bottom-webs.png" alt="" class="img-responsive"></a>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
	</div>
</footer>