{% extends layout %}
{% block title %}Contact - Shanghai Bowl{% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
	<div class="right-panel">
		<div class="back-cream-inside prelatife">
			
			<section id="top-page-inside" class="inside-page">
				<div class="insides-section mw-1275 tengah prelatife text-center">
					<div class="logo-center"><img src="{{ app.request.baseurl }}/asset/images/logo-shanghai-bowl-ins.png" alt="" class="img-responsive pc-center"></div>
					<div class="clear height-50"></div><div class="height-10"></div>
					
					<div class="top-ins-topss-cont">
						<h1 class="title-page">Contact</h1>
						<div class="clear"></div>
						<p class="mb-0">All of Shanghai Bowl&rsquo;s staff we&rsquo;ll be at their best to cater to your needs.</p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>

			<section id="full-images" class="inside-page">
				<div class="insides tengah prelatife text-center">
					<div class="full-images">
						<img src="{{ app.request.baseurl }}/asset/images/contact-1.jpg" alt="" class="img-resposnive">
					</div>
					<div class="clear"></div>
				</div>
			</section>

			<section id="contact_section" class="inside-page">
				<div class="insides-section tengah prelatife text-center">
					<div class="text-center">
						<img src="{{ app.request.baseurl }}/asset/images/back-bottom-linemidl-con.png" alt="" class="pc-center">
					</div>
					
					<div class="texts">
						<p><span class="red">ADDRESS</span> <br>
							Lenmarc Mal <br>
							Lenmarc ground floor 45 & 47,<br>
							Jl. Bukit Darmo Boulevard No 9<br>
							Surabaya 60187, Indonesia 
							</p>

							<p>
							<span class="red">TELEPHONE</span> <br>
							+62 31 5116 3059
							</p>

							<p>
							<span class="red">EMAIL</span> <br>
							<a href="mailto:info@xorestaurants.com">info@xorestaurants.com</a>
							</p>
							<div class="clear height-10"></div>
								<div class="social-footers text-center">
									<div class="d-inline vtops">
										<a href="https://twitter.com/xorestaurants" target="_blank" class="i-social"><i class="fa fa-twitter"></i></a>
									</div>&nbsp;&nbsp;
									<div class="d-inline vtops">
										<a href="https://www.facebook.com/xorestaurants/?fref=ts" target="_blank" class="i-social"><i class="fa fa-facebook"></i></a>
									</div>&nbsp;&nbsp;
									<div class="d-inline vtops">
										<a href="https://instagram.com/shanghaibowl/" target="_blank" class="i-social"><i class="fa fa-instagram"></i></a>
									</div>
								</div>
								<div class="clear height-0"></div>
							<div class="t-copyrighttss">
								WEB DESIGN BY <a href="http://markdesign.net" target="_blank" title="Website Design Surabaya">MARKDESIGN</a>.
							</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
{# end container #}


<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}