{% extends layout %}
{% block title %}Our Distributors - Gartner Lighting{% endblock %}
{% block menu %}distributor{% endblock %}
{% block content %}
	<section class="inside-content-outer">
		<div class="lines-grey-header"></div>
		<div class="prelatife container inside-content">
			<div class="clear height-50"></div>
			<div class="height-20"></div>
			<div class="row content-text">
				<div class="col-md-12">
					<div class="fleft"><h1>Our Distributors</h1></div>
					<div class="fright">
						<div class="wrap-breadcrumb">
							<ol class="breadcrumb">
							  <li><a href="{{ url('homepage') }}">HOME</a></li>
							  <li class="active"> Our Distributors</li>
							</ol>
						</div>
					</div>
					<div class="clearfix"></div>						
					<h3><b>FIND gartner PRODUCTS</b> <br>
					NEAR YOU</h3>					
					
					<div class="clear height-50"></div>
					<div class="height-10"></div>
					<div class="row">
						<div class="col-md-4">
							<span class="red">Surabaya</span>
							<div class="clear height-0"></div>
							<p><b>Maju Jaya Elektronik</b> <br>
								Jl. Semarang 221, Surabaya 60245 <br>
								Telephone. 031 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
								</p>
							<div class="clear height-20"></div>
							<p>
								<b>Maju Jaya Elektronik</b> <br>
								Jl. Semarang 221, Surabaya 60245 <br>
								Telephone. 031 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
							</p>
							<div class="clear height-20"></div>
							<p>
								<b>Maju Jaya Elektronik</b> <br>
								Jl. Semarang 221, Surabaya 60245 <br>
								Telephone. 031 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
							</p>
						</div>
						<div class="col-md-4">
							<span class="red">Jakarta</span>
							<div class="clear height-0"></div>
							<p><b>Maju Jaya Elektronik</b> <br>
								Jl. Diponegoro 21, Jaksel 40245 <br>
								Telephone. 021 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
								</p>
							<div class="clear height-20"></div>
							<p>
								<b>Maju Jaya Elektronik</b> <br>
								Jl. Diponegoro 21, Jaksel 40245 <br>
								Telephone. 021 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
							</p>
						</div>
						<div class="col-md-4">
							<span class="red">Semarang</span>
							<div class="clear height-0"></div>
							<p><b>Maju Jaya Elektronik</b> <br>
								Jl. Delima 12, Semarang 70245 <br>
								Telephone. 031 564 8787 <br>
								Email. <a href="mailto:majujaya@gmail.com">majujaya@gmail.com</a>
								</p>
						</div>
					</div>
					

					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
			<div class="clear height-10"></div>
			<div class="clear height-50"></div>
			<div class="height-10"></div>
			{% include "/layouts/f_bannerbrand.twig" %}

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</section>
{% endblock %}