{% extends layout %}
{% block title %}Functions - Shanghai Bowl{% endblock %}
{% block menu %}functions{% endblock %}
{% block content %}
	<div class="right-panel">
		<div class="back-cream-inside prelatife">
			
			<section id="top-page-inside" class="inside-page">
				<div class="insides-section mw-1275 tengah prelatife text-center">
					<div class="logo-center"><img src="{{ app.request.baseurl }}/asset/images/logo-shanghai-bowl-ins.png" alt="" class="img-responsive pc-center"></div>
					<div class="clear height-50"></div><div class="height-10"></div>
					
					<div class="top-ins-topss-cont">
						<h1 class="title-page">Functions</h1>
						<div class="clear"></div>
						<p class="mb-0">We&rsquo;ll make your every litle moments meaningful and memorable.</p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>

			<section id="full-images" class="inside-page">
				<div class="insides-section tengah prelatife text-center">
					<div class="full-images">
						<img src="{{ app.request.baseurl }}/asset/images/functions-1.jpg" alt="" class="img-resposnive">
					</div>
					<div class="clear"></div>
				</div>
			</section>

			<section id="default" class="inside-page">
				<div class="insides-section mw-1275 tengah prelatife text-center">
					<div class="clear height-25"></div>
					<div class="visible-lg visible-md">
						<div class="clear height-25"></div>
						<div class="clear height-50"></div>
					</div>
					<div class="content-text text-center mw-676 tengah">
						<h5 style="font-style:normal;">
							EXCEPTIONALLY READY FOR ANY OCCASSION <br>
							<i>With 5 service</i>
						</h5>
						<div class="clear"></div>
						{# <p>Restaurant Shanghai Bowl terletak di lantai dasar di Lenmarc Mall. Dengan luas area sebesar 750m2, Shanghai Bowl dapat mengakomodasi lebih dari 300 tamu untuk berbagai macam event. Shanghai Bowl di lenmarc sangat cocok untuk mengakomodir aneka acara anda seperti pertunangan, ulang tahun, arisan, meeting maupun sekedar perayaan gathering. Shanghai Bowl restaurant di Lenmarc adalah restaurant di bawah naungan managemen XO Group yang telah berpengalaman di dunia pelayanan Food & Beverage lebih dari 1 dekade, sehingga kami akan membuat pengalaman event anda menjadi sangat baik.</p> #}
						<p>Shanghai Bowl restaurant by X.O Group of Restaurant is located at the ground floor of Lenmarc Mall. With area spanning over than 750m2, Shanghai Bowl can accommodate more than 300 guests for any kind of events. Shanghai Bowl restaurant at Lenmarc is very suitable for you to held events such as engagement, birthdays, social gatherings, and meetings. Under the management of X.O group of restaurants that has proven results in food and beverage industry for more than a decade, you can be sure that your event will be successful and memorable.</p>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>

			<section id="default" class="inside-page back-white">
				<div class="insides-section mw-1275 tengah prelatife text-center pt-135 pb-150">
					<div class="contact-form text-center mw-386 tengah">
						<p>Let us help you with your reservation.</p>
						<div class="clear height-50"></div><div class="height-25"></div>

						<form method="post" action+"">
						  <div class="form-group">
						    <label for="">Function Date</label>
						    <input type="text" class="form-control datepicker" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">FUNCTION TIME</label>
						    <input type="text" class="form-control datetimer" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">NUMBER OF GUESTS</label>
						    <input type="text" class="form-control" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">TYPE OF EVENT</label>
						    <input type="text" class="form-control" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">CUSTOMER FULL NAME</label>
						    <input type="text" class="form-control" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">EMAIL</label>
						    <input type="text" class="form-control" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">MOBILE PHONE</label>
						    <input type="text" class="form-control" id="" placeholder="">
						  </div>
						  <div class="form-group">
						    <label for="">OTHER NOTES</label>
						    <textarea name="" id="" rows="5" class="form-control"></textarea>
						  </div>
						  <div class="form-group">
						  	<div class="g-recaptcha" data-sitekey="6Le95xsTAAAAAK8PBPtxApoRPAVAUXD5ers_UIji"></div>
						  </div>
						  <div class="clear"></div>
						  <button type="submit" class="btn btn-link">Submit</button>
						</form>
						<div class="clear"></div>
					</div>
					<div class="visible-lg visible-md">
						<div class="clear height-50"></div><div class="height-30"></div>
					</div>
				</div>
			</section>

			<section id="contact_section" class="inside-page">
				<div class="insides-section tengah prelatife text-center">
					<div class="text-center"><img src="{{ app.request.baseurl }}/asset/images/back-bottom-linemidl-con.png" alt="" class="pc-center"></div>
					
					<div class="texts">
						<p><span class="red">ADDRESS</span> <br>
							Lenmarc Mal <br>
							Jl. Bukit Darmo Boulevard <br>
							Surabaya 60187, Indonesia 
							</p>

							<p>
							<span class="red">TELEPHONE</span> <br>
							+62 31 732 8866
							</p>

							<p>
							<span class="red">EMAIL</span> <br>
							info@SHANGHAIBOWL.co.ID
							</p>
							<div class="clear height-10"></div>
								<div class="social-footers text-center">
									<div class="d-inline vtops">
										<a href="https://twitter.com/xorestaurants" target="_blank" class="i-social"><i class="fa fa-twitter"></i></a>
									</div>&nbsp;&nbsp;
									<div class="d-inline vtops">
										<a href="https://www.facebook.com/xorestaurants/?fref=ts" target="_blank" class="i-social"><i class="fa fa-facebook"></i></a>
									</div>&nbsp;&nbsp;
									<div class="d-inline vtops">
										<a href="https://instagram.com/shanghaibowl/" target="_blank" class="i-social"><i class="fa fa-instagram"></i></a>
									</div>
								</div>
								<div class="clear height-0"></div>
							<div class="t-copyrighttss">
								WEB DESIGN BY <a href="http://markdesign.net" target="_blank" title="Website Design Surabaya">MARKDESIGN</a>.
							</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
{# end container #}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
	    dateFormat: "yy-mm-dd"
	});
    // $( ".datetimer" ).datepicker({ timeFormat: 'hh:mm:ss' });
  });
  </script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}