{% extends layout %}
{% block title %}Our Location - Alpines{% endblock %}
{% block menu %}location{% endblock %}
{% block content %}
	<div class="out-content">
					<div class="b-tlt">
						<h1>Our Location</h1>
					</div>
					<div class="back-bt-close-rightsd">
						<a href="{{ app.request.baseurl }}"><img src="{{ app.request.baseurl }}/asset/images/back-btn-closed-box.png" alt="close button"></a>
					</div>
					<div class="clear"></div>
					<div class="ins-content">
						<div class="back-grey w661">
							<div class="ins content-text">
								{# <img src="{{ app.request.baseurl }}/asset/images/location.jpg" alt=""> #}
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15809.196920273349!2d112.50413387358243!3d-7.863721781166799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7887473851482f%3A0x8c2ddfdcad4e3a92!2sJalan+Trunojoyo!5e0!3m2!1sen!2sid!4v1398334891595" width="582" height="430" frameborder="0" style="border:0"></iframe>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
{% endblock %}
