{% extends layout %}
{% block title %}Projects Archimetric - Architects & Engineers - Surabaya, Indonesia{% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	<div class="right-panel">
		<div class="back-cream-inside prelatife">
			<section id="top-page-inside" class="inside-page">
				<div class="insides-section mw-1275 tengah prelatife text-center">
					<div class="logo-center">
						<img src="{{ app.request.baseurl }}/asset/images/logo-archimetric-insidepage.png" alt="" class="img-responsive pc-center">
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</section>

			
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
{# end container #}
{% endblock %}