<p>Thank you for Newsletter permission! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email Address</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
</table>
<p>Copyright &copy; 2014 PT. Banyuwangi Cannery Indonesia</p>